h5 {
  text-align: center;
}

thead {
  background-color: rgb(87, 87, 87);
  color:azure;
  text-align: center;
}

tbody {
  background-color: rgb(243, 243, 243);
  text-align: center;
}

.idCol {
  width: 10%;
}

.idRow {
  width: 10%;
}

.table {
  width: 100%;
}
